
<div class='container'>
    <form role='form' class="form">
        <div class="form-group">
            <div >
                <h3 align='center'>ESRI Licence Reporting Configuration</h3>
            </div>
        </div>
        
        <div class="form-group">
            <div >
                <label> Products to Report on:</label>
             </div>
             <div >
                <!-- <label for='product2ReportOn'>Products Reporting on:</label> -->
                <select  class='form-control' size=4 ng-model='productInfo.selected'>
                    <option  ng-repeat='product in productInfo.data' value='{{product.data}}'>{{product.data}}</option>
                </select>
                
                
                <button id='DeleteProduct' class='btn btn-default  form-control' type='button' ng-click="productInfo.del()">
                    Delete
                </button>
                <button id='ResetProduct' class='btn btn-default  form-control' type='button' ng-click="productInfo.reset()">
                    Reset
                </button>
                <label class='sr-only'>New Value to Enter</label>
                <div class='input-group'>
                    <input type='text' class='form-control' id='product2ReportOn' ng-enter="productInfo.add()" ng-model='productInfo.value2Add'>
                    <span class="input-group-btn">
                        <button id='enterNewProduct'  class='btn btn-default  form-control' type='button' ng-click="productInfo.add()">
                            Add
                        </button> 
                    </span>
                </div>
                
            </div>
        </div>
        
        <div class="form-group">
            <div >
                <label> Users to Omit from Report:</label>
             </div>
             <div >
                <select  class='form-control' size=4 ng-model='users.selected'>
                    <option  ng-repeat='user in users.data' value='{{user.data}}'>{{user.data}}</option>
                </select>
                
                
                <button id='DeleteProduct' class='btn btn-default  form-control' type='button' ng-click="users.del()">
                    Delete
                </button>
                <button id='ResetOmitUsers' class='btn btn-default  form-control' type='button' ng-click="users.reset()">
                    Reset
                </button>

                <label class='sr-only'>New Value to Enter</label>
                <div class='input-group'>
                    <input type='text' class='form-control' id='product2ReportOn' ng-enter="users.add()" ng-model='users.value2Add'>
                    <span class="input-group-btn">
                        <button id='enterNewProduct'  class='btn btn-default  form-control' type='button' ng-click="users.add()">
                            Add
                        </button> 
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label> Oracle Temp Table Prefix </label>
            </div>
            <div>
                <input type='text' class='form-control' id='product2ReportOn' value='esritmp_'>
            </div>
        </div>
        <div class="form-group">
            <button id='Enter'  class='btn btn-default form-control col-xs-1' type='button' ng-click="proceed()">
                Proceed
            </button> 
            <button id='Cancel'  class='btn btn-default form-control col-xs-1' type='button' ng-click="cancel()">
                Cancel
            </button> 
        </div>
    </form>
</div>
