<div class='container-fluid'>
    <h1>Configure Report Parameters</h1>
    <div class='row'>
        <div class="col-xs-4">
            <!-- Start Time: {{$scope.startTime}} -->
            <h4>Start Time:</h4>
        </div>
        <div class="col-xs-4">
            <h5> 
            <input type="text" class="form-control" datepicker-popup="{{startDate.format}}" ng-model="startDate.dt" is-open="startDate.opened" min="startDate.minDate"  datepicker-options="startDate.dateOptions" date-disabled="startDate.disabled(date, mode)" ng-required="true" close-text="Close"\>
            </h5>
        </div>
        <div class="col-xs-2">
            <!-- <h5><button id='setReportStartTime' type='button' ng-click="setStartTime()">Set</button></h3>  -->
            <h5>
                <span class="input-group-btn">
                <button class="btn btn-default" ng-click="startDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                 </span>
                 </h5>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-4">
            <!-- Start Time: {{$scope.startTime}} -->
            <h4>End Time:</h4>
        </div>
        <div class="col-xs-4">
            <h5>
                <!-- Tues Dec 31, 2014 -->
                <input type="text" class="form-control" datepicker-popup="{{endDate.format}}" ng-model="endDate.dt" is-open="endDate.opened" min="endDate.minDate"  datepicker-options="endDate.dateOptions" date-disabled="endDate.disabled(date, mode)" ng-required="true" close-text="Close"\>
            </h5>
        </div>
        <div class="col-xs-2">
            <h5>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="endDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                 </span>
             </h5>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-3">
            <!-- Start Time: {{$scope.startTime}} -->
            <h4>Report Resolution:</h4>
        </div>
        <div class="btn-group">
            <!-- could use a button group here! -->
            <div ng-repeat="repRes in reportResolution.values" class="col-xs-2 resolutionButtons">
                <button  type="button" class="btn btn-primary resolutionButtons" ng-model="reportResolution.selected" btn-radio="'{{repRes}}'" >{{repRes}}</button>
                <!-- {{repRes}} and {{model}} -->
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6' align='right'>
            <h5>
            <button id='config' class='btn btn-default'  ng-click="go('/config')">
                Configure 
            </button></h5>
        </div>
                <div class='col-xs-6' align='left'>
            <h5>
            <button id='setReportEndTime' class='btn btn-default' type='button' ng-click="runReport()">
                Get Report
            </button></h5>
        </div>
    </div>
    <div id='report'>
        <div class='row'>
            <div class='col-xs-6' align='right'>
                
            </div>
         </div>
    </div>
    <!-- <div class='row'>
    <div class='col-xs-8' align='center'>
    a is {{a}}
    </div>
    </div>  -->

</div>